#square1 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate1 3s ease infinite alternate;
}

#square2 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate1 3s ease infinite alternate;
}

#square3 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate3 4s ease infinite alternate;
}

#square4 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate1 3s ease infinite alternate;
}

#square5 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate1 3s ease infinite alternate;
}

#square6 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate1 3s ease infinite alternate;
}

#square7 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate1 3s ease infinite alternate;
}

#square8 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate1 3s ease infinite alternate;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
