$black-normal: #0d0e10;
$black-dark: #050607;
$black-light: #15171a;

$white-normal: #f5f7f7;
$white-dark: #edeff0;
$white-light: #fafcfc;

$blue-normal: #2dc7ed;
$blue-dark: #15aed4;
$blue-light: #4ddcff;

$gray-1: #777;

.color-gray {
  color: $gray-1;
}
